<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>{% block title %}{% endblock %}</title>

    {% load static %}
    {% load storbit_extras %}

    <link rel='stylesheet' href='{% static 'storbit/bootstrap.min.css' %}'>
    <link rel='stylesheet' type='text/css' href='{% static 'storbit/style.css' %}'>
    <link rel='stylesheet' href='{% static 'storbit/jquery-ui.css' %}'>
    <link rel='icon' href='{% static 'storbit/images/favicon.ico' %}'>

    <script type='text/javascript' language='javascript' src='{% static 'storbit/jquery-3.3.1.min.js' %}'></script>
    <script type='text/javascript' language='javascript' src='{% static 'storbit/jquery-ui.min.js' %}'></script>
    <script type='text/javascript' language='javascript' src='{% static 'storbit/sto.js' %}'></script>
    {% block head %}{% endblock %}
</head>
<body>
<div class='container content'>
    {% block content %}
    {% endblock %}
</div>
</body>
<footer style='text-align: right'>© Martin Rokyta</footer>
</html>
