{% extends 'storbit/base.html' %}

{% load static %}
{% block head %}
    <script src='{% static 'storbit/svg.min.js' %}'></script>
    <script src='{% static 'storbit/game.js' %}'></script>
{% endblock %}

{% block title %}Stellar Thrust Orbiter{% endblock %}
{% block content %}
    <div id='start-dialog' title='STOrbiter launcher'>
        <p>Welcome to <b>STOrbiter</b>! Your goal is to make a photo (fly over it) of a location marked by the black mark,
            using as few <i>ΔV</i> and <i>turns</i> as possible. Select a ship to play with and orbit!</p>

        <p>Remember, the higher you are, the easier it is to change the path, but the orbit takes longer. Gravity, diameter
            and speed of rotation of your planet has also a great significance.</p>
        <select id='ship-select' class='custom-select'>
        {%  for ship in ships %}
            <option value='{{ ship.name }}'>{{ ship.name }}</option>
        {% endfor %}
        </select>
        <br><br>
        <input id='launch-btn' type='submit' value='Launch the Game' class='btn btn-primary' onclick='startGame()'>
    </div>
    <div id='transfer-dialog' title='Planet transfer'>
        <select id='planet-select' class='custom-select'>
        {%  for planet in planets %}
            <option value='{{ planet.name }}'>{{ planet.name }}</option>
        {% endfor %}
        </select>
        <br><br>
        <input id='trnsfr-btn' type='submit' value='Transfer' class='btn btn-success' onclick='transfer()'>
    </div>
    <div id='end-dialog' title='Photo Made!'>
        <h4>Congratulations for beating the game!</h4>
        <table id='results-table' class='results-table'>
            <tr>
                <td>ΔV used:</td>
                <td id='dv-result'></td>
            </tr>
            <tr>
                <td>Time:</td>
                <td id='time-result'></td>
            </tr>
        </table>
        Play again?<br>
        <a class='btn btn-success end-game-select' href='/storbit/game' role='button'>Yes</a>
        <a class='btn btn-danger end-game-select' href='/storbit/' role='button'>No</a>
    </div>
    <div id='game-container'>
        <h1>You are playing with <span id='ship'></span></h1>
        <p><h2>Ship controls</h2></p>

        <form id='action-select'>
        <label><input type='radio' name='controlCheckbox' value=0 checked='checked' onclick='toggleDivs()'>Thrust</label>
        <label><input type='radio' name='controlCheckbox' value=1 onclick='toggleDivs()'>Wait</label>
        </form>
        <div id='controls' class='row'>
            <div id='form-thrust' class='col-5'>
                ΔV left: <span id = 'deltav'>500.0 m/s</span>
                <br>
                <div class='row'>
                    <div class='col-8'>
                        Transfer to new height: <span id = 'height'>0</span> km
                    </div>
                    <div id='height-range' class='range col-4'></div>
                </div>
                <div class='row'>
                    <div class='col-8'>
                        Vector change: <span id='nm'>0</span>°
                    </div>
                    <div id='nm-range' class='range col-4'></div>
                </div>
            </div>

            <div id='form-wait' class='col-5 disabled'>
                <div class='row'>
                    <span class='col-sm'>Wait for:</span>
                    <select id='turn-select' class='custom-select col-sm'>
                        <option value='1'>1</option>
                        <option value='2'>2</option>
                        <option value='3'>3</option>
                        <option value='4'>4</option>
                        <option value='5'>5</option>
                    </select>
                    <span class='col-sm'>turns</span>
                </div>
            </div>
            <div id='stats' class='col-2'>
                ΔV used: <span id='dv-used'>0</span> m/s
                <br>
                Turns: <span id='trn-passed'>0</span>
            </div>
        </div>
        <button id='turn-btn' type='button' class='btn btn-primary' onclick='makeTurn()'>Make Turn</button>
        <button type='button' class='btn btn-success' onclick='showTransferDialog()'>Transfer</button>
        <p></p>
        <div id='game-div'>
            <div id='game-path-div' class='path-div'>
            </div>
        </div>
    </div>
    <a class='btn btn-danger' href='/storbit/' role='button'>End Game</a>
{% endblock %}
