{% extends 'storbit/base.html' %}
{% load static %}

{% block title %}STOrbit{% endblock %}
{% block content %}
    <img src='{% static 'storbit/images/logo.png' %}' alt='logo' style='width: 50%'><br>
    <h1>Welcome to STOrbit main page</h1>
    <a class='btn btn-info' href='/storbit/game/' role='button'>Play the Game</a>
    <br><br>
    <a class='btn btn-info' href='/storbit/list/' role='button'>List of Ships</a>
{% endblock %}