{% extends 'storbit/base.html' %}
{% block title %}List of Ships{% endblock %}
{% load static %}
{% load storbit_extras %}

{% block content %}
<h2>List of existing ships</h2>
<p></p>
{% if ships.exists %}
    <table class='table table-bordered'>
    <tr>
        <th>Name</th>
        <th>Orbit height</th>
        <th>Orbit inclination</th>
        <th>Right ascension of Ascending node</th>
        <th>Mean anomaly</th>
        <th>Icon</th>
        <th>Orbiting</th>
    </tr>
    {% for ship in ships %}
        <tr>
            <td><a class='btn btn-link shp-name' href='/storbit/stats/{{ ship.name }}/' role='link'>{{ ship.name }}</a></td>
            <td id='{{ ship.name }}-height'>{{ ship.height }} km</td>
            <td id='{{ ship.name }}-inc'>{{ ship.inclination }}&deg</td>
            <td id='{{ ship.name }}-raan'>{{ ship.raan }}&deg</td>
            <td id='{{ ship.name }}-mean'>{{ ship.mean }}&deg</td>
            <td><img src='{% static '/storbit/images/icons/'|addstr:ship.icon %}' alt={{ ship.icon }} width=32 height=32></td>
            <td id='{{ ship.name }}-planet'>{{ ship.planet }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No ships on orbit</p>
{% endif %}
<p>
    <button class='btn btn-primary' onclick='statsTurn("{% for ship in ships %}{{ship.name }} {% endfor %}", false, false)'>Make turn</button>
    <button class='btn btn-warning' onclick='statsTurn("{% for ship in ships %}{{ship.name }} {% endfor %}", true, false)'>Reset</button>
    <a class='btn btn-danger' href='/storbit/' role='link'>Back to main page</a>
</p>
{% endblock %}
