{% extends 'storbit/base.html' %}
{% block title %}Orbit elements of {{ ship.name }}{% endblock %}

{% load static %}
{% load storbit_extras %}
{% block head %}
    <script src='{% static 'storbit/svg.min.js' %}'></script>
{% endblock %}


{% block content %}
    <h2>Orbit elements of '{{ ship.name }}'</h2>
    <table class='table table-bordered'>
        <tr>
            <th>Orbit height</th>
            <th>Orbit inclination</th>
            <th>Right ascension of Ascending node</th>
            <th>Mean anomaly</th>
            <th>Icon</th>
            <th>Orbiting</th>
        </tr>
        <tr>
            <td id='{{ ship.name }}-height'>{{ ship.height }} km</td>
            <td id='{{ ship.name }}-inc'>{{ ship.inclination }}&deg</td>
            <td id='{{ ship.name }}-raan'>{{ ship.raan }}&deg</td>
            <td id='{{ ship.name }}-mean'>{{ ship.mean }}&deg</td>
            <td><img src='{% static '/storbit/images/icons/'|addstr:ship.icon %}' alt={{ ship.icon }} width=32 height=32></td>
            <td id='{{ ship.name }}-planet'>{{ ship.planet.name }}</td>
        </tr>
    </table>

    <table class='table table-bordered'>
        <tr>
            <th>Right Ascension</th>
            <th>Declination</th>
        </tr>
        <tr>
            <td id='{{ ship.name }}-ra'>{{ ship.ra }}°</td>
            <td id='{{ ship.name }}-dec'>{{ ship.y_angle }}°</td>
        </tr>
        <tr>
            <th>Longitude</th>
            <th>Latitude</th>
        </tr>
        <tr>
            <td id='{{ ship.name }}-lon'>{{ ship.lon }}°</td>
            <td id='{{ ship.name }}-lat'>{{ ship.y_angle }}°</td>
        </tr>
        <tr>
            <th>Planet Rotation</th>
            <td id='{{ ship.name }}-rot'>{{ ship.planet.rotation }}°</td>
        </tr>
    </table>

    <table class='table table-bordered'>
        <tr>
            <th>x</th>
            <th>y</th>
            <th>z</th>
        </tr>
        <tr>
            <td id='{{ ship.name }}-x'>{{ ship.cartesian_position.x }}</td>
            <td id='{{ ship.name }}-y'>{{ ship.cartesian_position.y }}</td>
            <td id='{{ ship.name }}-z'>{{ ship.cartesian_position.z }}</td>
        </tr>
    </table>

    <div id='paths' class='row'>
        <div id='rd-path-div' class='path-div col-sm grid'>
        </div>
        <div id='path-div' class='path-div col-sm' style='background-image: url("/static/storbit/images/planets/{{ ship.planet.name|lower }}.png");'>
        </div>
    </div>
    <br>
    <button type='button' class='btn btn-success' onclick='statsTurn("{{ ship.name }}", false, true)'>Make Turn</button>
    <button type='button' class='btn btn-warning' onclick='statsTurn("{{ ship.name }}", true, true)'>Reset</button>
    <a class='btn btn-danger' href='/storbit/list/' role='link'>Back to list</a>

{#    Script to load path graph on document ready#}
    <script type='text/javascript'>
        drawPath('rd-', {{ rd_path }}, {{ ship.ra }}, {{ ship.y_angle }}, '{{ ship.icon }}');
        drawPath('', {{ path }}, {{ ship.lon }}, {{ ship.y_angle }}, '{{ ship.icon }}');
    </script>
{% endblock %}