body {
    text-align: center;
}

#paths {
    overflow: hidden;
}

.path-div, .rd-path-div {
    width: 45%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    border: 3px solid black;
    padding: 0;
    margin: 0 1% 0 1%;
}

.grid {
    background-image: url('/static/storbit/images/grid.png');
}

#game-path-div {
    background-image: url('/static/storbit/images/planets/earth.png');
}

#game-path-div {
    width: 100%;
}

.path, .path-prediction {
    fill: transparent;
    stroke-width: 1.5px;
    stroke: darkorange;
}

.path-prediction {
    stroke-dasharray: 4;
}

#rd-path {
    stroke: darkblue;
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}

.goal-marker {
    stroke: black;
    stroke-width: 1px;
    fill: transparent;
}

.results-table {
    width: 100%;
}

.results-table TD {
    width: 50%
}

.end-game-select {
    width: 45%
}

#start-dialog {
    padding: 2%;
}
